@font-face {
  font-family: 'Mewatonia';
  src: url('./assets/fonts/mewatonia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play';
  src: url('./assets/fonts/play.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: rgb(10, 10, 10);
  overflow-x: hidden;
  box-sizing: border-box;
}